.header{

    text-align: center;
    background: white;
    color: white;
}
.header h1{
    font-size: 40px;
}
.header img {
  width: 100%;
  height: 50%;
}
.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 20px 50px;
    position: absolute;
    width: 100%;
    text-align: center;
}

.navbar{
    overflow: hidden;
    background-color: lightgreen;
}
/** style navigation bar links **/
.navbar a{
    float: left;/** links stays side by side**/
    display: block;/** prevent scorll bar from showing up**/
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;/**remove under line**/
}
.navbar a:hover{
    background-color: yellow;
    color: black;/** text color**/
}
*{
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/**main column**/
.main{
    flex: 70%;/**width of main content**/
    background-color: white;
    padding: 20px;
}
/*  when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width:700px){
    .row{
        flex-direction: column;
        /**The column value stacks the flex items vertically (from top to bottom)**/
    }
}
/*  when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width:400px){
    .navbar{
        float: none;
        width: 100%;
    }
}
.footer{
    padding: 20px;
    text-align: center;
    background: 	#90EE90;
}
.main {
  background-color: white;
}
.one {
  height: 600px;
  width: 900px;
}
h1 {
  color: #39FF14;
}
