
 .text h1
{
    font-family: 'Sofia', cursive;
    margin: 0;
    font-size: 4em;
    padding: 0;
    color: white;
    text-shadow:
        0 0.1em 20px rgba(0,0,0,1),
        0.05em -0.03em 0 rgba(0,0,0,1),
        0.05em 0.005em 0 rgba(0,0,0,1),
        0 0.08em 0 rgba(0,0,0,1),
        0.05em 0.08em 0 rgba(0,0,0,1),
        0 -0.03em 0 rgba(0,0,0,1),
        -0.03em -0.03em 0 rgba(0,0,0,1),
        -0.03em 0.08em 0 rgba(0,0,0,1),
        -0.03em 0 0 rgba(0,0,0,1);

}
span
{
    transform: scale(0.9);
    display: inline-block;
}
.main h1 {
  text-decoration: underline;
}
h1 {
  font-family: 'Sofia', cursive;
}
p {
  font-family: 'Shippori Mincho B1', serif;
}
